.elementor-325 .elementor-element.elementor-element-54c12328>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-325 .elementor-element.elementor-element-54c12328:not(.elementor-motion-effects-element-type-background),
.elementor-325 .elementor-element.elementor-element-54c12328>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-325 .elementor-element.elementor-element-54c12328 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #d6d6d6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 20px 5px 20px;
}

.elementor-325 .elementor-element.elementor-element-54c12328>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-325 .elementor-element.elementor-element-2e2b5670>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-325 .elementor-element.elementor-element-2e2b5670 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-325 .elementor-element.elementor-element-4da79a63>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-325 .elementor-element.elementor-element-722f3237>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-325 .elementor-element.elementor-element-3c3be406 .elementor-heading-title {
    color: #1447A7;
    font-weight: 600;
}

.elementor-325 .elementor-element.elementor-element-602be20e .elementor-menu-toggle {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0);
}

.elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu .elementor-item {
    font-size: 17px;
    font-weight: 400;
}

.elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu--main .elementor-item:hover,
.elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu--main .elementor-item:focus {
    color: #1447A7;
}

.elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu--main .elementor-item {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu--dropdown .elementor-item,
.elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Montserrat", Sans-serif;
}

@media(max-width:1024px) {
    .elementor-325 .elementor-element.elementor-element-54c12328 {
        padding: 20px 20px 20px 20px;
    }
    .elementor-325 .elementor-element.elementor-element-3c3be406 {
        text-align: left;
    }
}

@media(max-width:767px) {
    .elementor-325 .elementor-element.elementor-element-54c12328 {
        padding: 5px 5px 5px 05px;
    }
    .elementor-325 .elementor-element.elementor-element-90accbd {
        width: 80%;
    }
    .elementor-325 .elementor-element.elementor-element-2e2b5670 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-325 .elementor-element.elementor-element-4da79a63 {
        width: 30%;
    }
    .elementor-325 .elementor-element.elementor-element-722f3237 {
        width: 70%;
    }
    .elementor-325 .elementor-element.elementor-element-3c3be406 {
        text-align: center;
    }
    .elementor-325 .elementor-element.elementor-element-e0981e0 {
        width: 20%;
    }
    .elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-325 .elementor-element.elementor-element-602be20e .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 14px !important;
    }
}

@media(min-width:768px) {
    .elementor-325 .elementor-element.elementor-element-90accbd {
        width: 40%;
    }
    .elementor-325 .elementor-element.elementor-element-4da79a63 {
        width: 20.26%;
    }
    .elementor-325 .elementor-element.elementor-element-722f3237 {
        width: 79.74%;
    }
    .elementor-325 .elementor-element.elementor-element-e0981e0 {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-325 .elementor-element.elementor-element-90accbd {
        width: 40%;
    }
    .elementor-325 .elementor-element.elementor-element-e0981e0 {
        width: 60%;
    }
}